:root{
    --white-color: #ffffff;
    --black-color: #000;
    --sidebar-color: #007b34;
    --header-color: #b4e3c8;
    --admin-header-height: 60px;
    --admin-sidebar-widtht: 200px;
    --body-color: rgb(220, 219, 224);
    --admin-login-background: #132644;
}

body{
    background: var(--body-color);
}

/*------------------------------------------*/

.table-wrapper {
    background: #fff;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* Custom checkbox */
.custom-checkbox {
    position: relative;
}
.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}
.custom-checkbox label:before {
    width: 18px;
    height: 18px;
}
.custom-checkbox label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #03a9f4;
    background: #03a9f4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}
/* Modal styles */
.modal .modal-dialog {
    max-width: 550px;
}
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 3px;
}
.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
    width: 100% !important;
}
.modal textarea.form-control {
    resize: vertical;
}
.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}
.modal form label {
    font-weight: normal;
}

.btn-add {
    background-color: #fff !important;
    border: 2px solid #ccc !important;
    color: #007330 !important;
    border-radius: 15px !important;
    transition: all 0.3s ease-in-out;
}

.btn-add span,
.btn-delete span,
.btn-search span {
    margin-bottom: 0 !important;
}

.btn-add:hover {
    border: 2px solid #007330 !important;
    color:#000 !important;
}

.btn-delete {
    border: 2px solid rgb(117, 16, 16) !important;
    border-radius: 15px !important;
    transition: all 0.3s ease-in-out;
}

.btn-search {
    background-color: #fff !important;
    border: 2px solid #ccc !important;
    color: #007330 !important;
    border-radius: 15px !important;
    transition: all 0.3s ease-in-out;
}

.btn-link {
    background-color: rgba(49, 194, 27, 0.27) !important;
    border: 2px solid rgb(54, 166, 74) !important;
    border-radius: 15px !important;
    transition: all 0.3s ease-in-out;
}


.admin-container{
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--body-color);
}

.btn-search:hover {
    border: 2px solid #007330 !important;
    color:#000 !important;
}


.admin-container-content{
    border-radius: 10px;
    background-color: var(--white-color);
    padding: 12px;
}

table{
    /*border-radius: 10px 10px 0 0;*/
    /*overflow: hidden;*/
}

thead{
    background: #ccc;
    /*border-radius: 10px 10px 0 0;*/
    border-bottom-style: hidden;
}

td{
    padding: 0;
}

td a{
    text-decoration: none;
    color: #6191c7;
}

thead tr th{
    vertical-align: middle;
}


tbody tr td{
    vertical-align: middle;
}
